<EditForm Model="Game" OnValidSubmit="OnDataAnnotationsValidated">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Title:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Game.Title" />
            <ValidationMessage For="@(() => Game.Title)" />
        </div>
    </div>
    <div class="form-group">
        <label>Trailer:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Game.Trailer" />
            <ValidationMessage For="@(() => Game.Trailer)" />
        </div>
    </div>
    <div class="form-group">
        <label>Release Date:</label>
        <div>
            <InputDate class="form-control" @bind-Value="@Game.ReleaseDate" />
            <ValidationMessage For="@(() => Game.ReleaseDate)" />
        </div>
    </div>
    <div class="form-group">
        <InputImg Label="Picture" OnSelectedImage="OnSelectedPoster" ImageURL="@imageURL" />
    </div>
    <div class="form-group">
        <Input @bind-Value="Game.Summary" Label="Summary" For="@(() => Game.Summary)"/>
    </div>
    <div class="form-group">
        <label>Genres:</label>
        <div>
            <GenreSelector Selected="Selected" NoSelected="NotSelected"></GenreSelector>
        </div>
    </div>
    <div class="form-group">
        <label>People:</label>
        <div>
            <TypeaheadSelector Context="person" SearchMethod="SearchMethod" SelectedElements="SelectedPerson">
                <MyResultTemplate>
                    <img style="width: 50px;" src="@person.Picture" />
                    @person.Name
                </MyResultTemplate>
                <MyListTemplate>
                    @person.Name / <input type="text" placeholder="Role in Game" @bind="person.RoleInGame" />
                </MyListTemplate>
            </TypeaheadSelector>
        </div>
    </div>

    <button class="btn btn-primary" type="Submit">Save</button>
</EditForm>

@code {
    [Parameter] public Game Game { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public List<Genre> SelectedGenre { get; set; } = new List<Genre>();
    [Parameter] public List<Genre> NotSelectedGenres { get; set; } = new List<Genre>();
    [Parameter] public List<Person> SelectedPerson { get; set; } = new List<Person>();

    private List<GenreSelectorModel> Selected = new List<GenreSelectorModel>();
    private List<GenreSelectorModel> NotSelected = new List<GenreSelectorModel>();
    private string imageURL;

    protected override void OnInitialized()
    {
        Selected = SelectedGenre.Select(x => new GenreSelectorModel(x.Id.ToString(), x.Name)).ToList();
        NotSelected = NotSelectedGenres.Select(x => new GenreSelectorModel(x.Id.ToString(), x.Name)).ToList();
        if(!string.IsNullOrEmpty(Game.Poster))
        {
            imageURL = Game.Poster;
            Game.Poster = null;
        }
    }
    private void OnSelectedPoster(string imageBase64)
    {
        Game.Poster = imageBase64;
        imageURL = null;
    }

    private async Task<IEnumerable<Person>> SearchMethod(string searchText)
    {
        return new List<Person>() {
            new Person() { Id = 1, Name = "Ulrik Rosberg 1", Picture="https://scontent-cph2-1.xx.fbcdn.net/v/t1.6435-9/122105566_10157907096954482_2219965355707851212_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=izJw3E3wwrAAX-OSxZo&_nc_ht=scontent-cph2-1.xx&oh=a170461ed28b43cc4089e13b0f937136&oe=60BCBF5E"},
            new Person() { Id = 2, Name = "Ulrik Rosberg 2", Picture="https://scontent-cph2-1.xx.fbcdn.net/v/t1.6435-9/95764355_10157452994844482_8340900306434916352_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=174925&_nc_ohc=fBrNREPrORsAX8GKlh5&_nc_ht=scontent-cph2-1.xx&oh=ca3a77cee1f44004e0bf63d4df9f138f&oe=60B962AE"},
            new Person() { Id = 2, Name = "Ulrik Rosberg 3", Picture="https://scontent-cph2-1.xx.fbcdn.net/v/t1.6435-9/95764355_10157452994844482_8340900306434916352_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=174925&_nc_ohc=fBrNREPrORsAX8GKlh5&_nc_ht=scontent-cph2-1.xx&oh=ca3a77cee1f44004e0bf63d4df9f138f&oe=60B962AE"}
        };
    }

    private async Task OnDataAnnotationsValidated()
    {
        Game.GamesGenres = Selected
            .Select(x => new GamesGenres { GenresId = int.Parse(x.Key) }).ToList();

        Game.GamesPeople = SelectedPerson
            .Select(x => new GamesPeople { PersonId = x.Id, RoleOfGame = x.RoleInGame}).ToList();

        @if(!string.IsNullOrWhiteSpace(Game.Poster)) { imageURL = null; }

        await OnValidSubmit.InvokeAsync(null);
    }
}